[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "estmeansd"]
	path = estmeansd
	url = https://github.com/stmcg/estmeansd
[submodule "learner"]
	path = learner
	url = https://github.com/stmcg/learner
[submodule "metamedian"]
	path = metamedian
	url = https://github.com/stmcg/metamedian
[submodule "miapack"]
	path = miapack
	url = https://github.com/stmcg/miapack
[submodule "smoothedIPW"]
	path = smoothedIPW
	url = https://github.com/stmcg/smoothedipw
